* {
  list-style: none;
}

/* ===== Base styles ===== */
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}


.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ===== Header ===== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo{
  margin-right: 76px;
  padding: 24px 0;
}
.header-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}

.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

/* Navigation */
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}


.nav-link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  position: relative;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:visited {
  color: #404bbf;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #404bbf;
  transition: width 0.3s ease-in-out;
  border-radius: 2px;
}

.nav-link:hover::after {
  width: 100%;
}

/* Contacts */
.contacts {
  font-style: normal;
  text-decoration: none;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px
}

.contacts-link {
  color: #434455;
  text-decoration: none;
  padding: 24px 0;
  display: block;

}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}



/* ===== Hero section ===== */
.hero {
  background-color: #2e2f42;
  display: block;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7)), url(./../images/people-office.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}

/* Button */
.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  max-width: 169px;
  max-height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 48px auto 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ===== Features ===== */
.features{
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-container {
  display: block;
  align-items: center;
}

.features-main-title{
  text-align: center;
}

.features-list {
  display: flex;
  box-sizing: border-box;
  gap: 24px;
}

.features-element {
  box-sizing: border-box;
  width: calc((100% - 72px) / 4);
  display: block;
}

.features-icons {
  margin-bottom: 8px;
  display: block;
  border-radius: 4px;
  border: 1px solid #8E8F99;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2E2F42;
}

.features-text {
  color: #434455;
  letter-spacing: 0.02em;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* ===== Team ===== */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-container {
  display: block;
  align-items: center;

}

.team-list {
  display: flex;
  box-sizing: border-box;
  gap: 24px;
}

.team-icons-list {
  display: flex;
  gap:24px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  padding: 0;
}

.team-icon-link {
  display: block;
  height: 40px;
  width: 40px;
}


.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.team-card {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  flex-basis: 264px;
}

.team-card-container {
  padding: 32px 16px;
}

.team-image {
  width: 264px;
  height: 260px;
  display: block;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team-role {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}



/* ===== Portfolio ===== */
.portfolio {
  padding: 120px 0;
}

.portfolio-container {
  display: block;
  align-items: center;
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;

}
.portfolio-text-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-card { 
  flex-basis: 360px;
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  background-color: #4D5AE5;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  font-family: "Roboto", sans-serif;
  padding: 40px 32px 164px;
}

.cashless-payment-card:hover .overlay {
  transform: translateY(0);
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-image {
  width: 360px;
  height: 300px;
  object-fit: cover;
  display: block;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}
.portfolio-name, .portfolio-type {
  text-align: left;
}

/* ===== Footer ===== */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;

}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-info-container {
  margin-right: 120px;
}

.footer-studio {
  color: #f4f4fd;
}

.footer-icon-list{
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  max-width: 264px;
}

.footer-icon-text {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.footer-logo {
  color: #f4f4fd;
  text-decoration: none;
  display: inline-block;
}
